<h2><%= @event.title %>, <%= @event.start_date %> - <%= @event.return_date %></h2>
<%= form_for @event_attendee do |f| %>
	
	<%= f.hidden_field(:user_id, :value => current_user.id) %>
    <table class="table">
		<tr>
			<td><h3>Remove attendees</h3></td>
	    </tr>    	
	    <tr>
    		<td valign=top>
			    <table class="table " >
			    	<th>select</th>
			    	<th>First name</th>
			    	<th>Last name</th>
			    	<% reset_cycle %>
				    <% @attendees.each do |attendee| %>
			  			<tr style="background-color:<%= cycle('#EEE', '#FFF') -%>"> 
				    		<td width=10>
				    			<% if attendee.id != current_user.id then %><input type=checkbox value=<%=attendee.id%> name="attendee_ids[]"><% else %>[you]<% end %></td>
				    		<td width=40><%= attendee.first_name %></td>
				    		<td width=40><%= attendee.last_name %></td>
				    	</tr>
				    <% end %>
				</table>
			</td>
			<td valign=top width="50%">
			</td>
		</tr>
		<tr>
			<td>
				<%= f.submit "Remove selected users", :class => "btn btn-default" %>&nbsp;
	    		<%= link_to "Cancel", :back %>
	    	</td>
			<td>
	    	</td>
	    </tr>

	</table>
<% end %>