
<table width="100%">
  <tr>
    <td valign=top align=left width="40%">
      <h1>Welcome to Gear Goat! <%= image_tag("goat.jpg", size: "80x80") %></h1>      
    </td>
    <td valign=top align=left>
      <h3>Get Started!</h3>
        <table class=table width="100%">
          <tr>
            <td width="25%"><b><%= link_to "Inventory", gears_path %></b><br>How much gear do you really have? How much is it weighing you down? How old is it? Target new gear with wishlists.</td>
            <td width="25%"><b><%= link_to "Plan", packs_path %></b><br>Organize your gear in a Virtual Pack while you plan your trip. Streamline for optimal weight/utlity ratio.</td>
            <td width="25%"><b><%= link_to "Coordinate", "#" %></b><br>What's in your companion's Virtual Pack? Coordinate shared items and identify complementary gear.</td>
            <td width="25%"><b><%= link_to "Pack", "#" %></b><br>Finally, print a checklist of gear to ensure you pack everything. </td>
          </tr>
        </table>
<!--
      It's all about the Virtual Pack!
      <ol>
        <li>Create a <b><%#= link_to "Virtual Pack", packs_path %></b> to contain and organize your gear throughout the duration of your event. 
        <li>Streamline the gear in your Virtual Pack to ensure the optimal weight/utlity ratio for your trip. 
        <li><b><%#= link_to "Compare your gear", "#" %></b> across your companion's Virtual Packs to coordinate shared items and to identify complementary gear.
        <li>Finally, print a checklist of gear to ensure you pack everything. 
-->
      </ol>
    </td>
  </tr>
  <tr>
    <td align=left>
      <h3>Featured Packs:</h3>
    </td>
    <td align=right>
      <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
    </td>
  </tr>
</table>

<table class=table>
  <tr>
    <th>Gear Goat community open postings</th>
    <th>Summary</th>
  </tr>
<% @packs.each do |pack|%>
  <% if pack.name.to_s.length > 0 then %>
  <tr style="background-color:<%= cycle('#EEE', '#FFF') -%>">
    <td align=left><li><%= link_to pack.name, request.base_url + virtual_pack_path + "?vp=" + pack.id.to_s %></td>
    <td><%= pack.summary %></td>
  </tr>
  <% end %>
<% end %>

</table>

