<!--<form action="/home" method="get">-->
<% form_tag home_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
<% end %>
<!--</form>-->

<h3>Get started with Gear Goat! <%= image_tag("beta-stamp.png", size: "60x40") %></h3>

<div class="row">
  <div class="col-md-2" align=middle><%= image_tag("goat.jpg", size: "100x100") %></div>
  <div class="col-md-2"><%#= link_to "<button class='btn btn-primary'>Inventory your gear</button>".html_safe, gears_path %><h4>Inventory your gear</h4>How much gear do you really have? How much is it weighing you down? How old is it?</div>
  <div class="col-md-2"><%#= link_to "<button class='btn btn-primary'>Plan your event</button>".html_safe, packs_path %><h4>Plan your event</h4>Organize your gear in a Virtual Pack while you plan your trip. Streamline for optimal weight/utlity ratio.</div>
  <div class="col-md-2"><%#= link_to "<button class='btn btn-primary'>Coordinate packs</button>".html_safe, comparators_path %><h4>Coordinate packs</h4>What's in your companion's Virtual Pack? Coordinate shared items and identify complementary gear to reduce carried weight.</div>
  <div class="col-md-2"><%#= link_to "<button class='btn btn-primary'>Share your work</button>".html_safe, "#" %><h4>Share your work</h4>Ensure you pack everything. Share your successes. Warn others when gear fails. Show off your packing genius.</div>
  <div class="col-md-2"><div class="fb-like" data-href="http://www.geargoat.net" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div></div>
</div>

<h3>Upcoming Events:</h3>
<table class=table>
  <tr>
    <td ><b>Event</b></td>
    <td align=right><b>Dates</b></td>
<!--    <th>Trip Length</th>
    <th>Pack Weight</th>
    <th>OZ/Day</th>
    <th>Summary</th>-->
  </tr>
  <% @events.each do |event| %>
    <% if event.start_date.is_a?(Date) then %>
      <% if event.start_date > Time.now then %>
          <tr style="background-color:<%= cycle('#EEE', '#FFF') -%>">
            <td align=left><h4 class="panel-default"><%= link_to event.title, pack_item_path(event.id) %></h4></td>
            <td align=right><h4><%= pack_event_range(event.start_date,event.return_date) %></h4></td>
          </tr>
      <% end %>
    <% end %>
  <% end %>
  <tr>
    <td colspan=2><%= link_to "<button class='btn btn-primary'>Add Upcoming Event</button>".html_safe, new_event_path, :id=>"add-event-btn" %></td>
  </tr>
</table>

<h3>Featured Packs:</h3>
<table class=table>
  <tr>
    <th>Gear Goat community open postings</th>
    <th>Goater</th>
    <th>Trip Length</th>
    <th>Pack Weight</th>
    <th>OZ/Day</th>
    <th>Summary</th>
  </tr>
  <% limit = 0 %>
  <% @packs.each do |pack| %>
    <% if limit < 8 then %>
      <% if pack.name.to_s.length > 0 then %>
        <tr style="background-color:<%= cycle('#EEE', '#FFF') -%>">
          <td align=left><li><%= link_to pack.name, request.base_url + virtual_pack_path + "?vp=" + pack.id.to_s %></td>
          <td align=left><%= pack_user(pack.user_id) %></td>
          <td align=left><%= trip_length(pack.event_id) %> <% if trip_length(pack.event_id) == 1 then %> night <% else %> nights <% end %></td>
          <td align=left><%= ounces_to_lbs(total_pack_weight_oz(pack.id)) %></td>
          <td align=left><%= oz_day(pack.id) %></td>
          <td align=left><%= pack.summary %></td>
        </tr>
      <% end %>
    <% end %>
    <% limit += 1  %>
  <% end %>
</table>

<% if current_user then %> 
  <% if current_user.id == 1 then %>
    <h3>Recent Use:</h3>
    <table class=table>
      <tr>
        <th>Goater</th>
        <th>Last login</th>
        <th>Total sign-ins</th>
      </tr>
      <% @users.each do |user|%>
        <tr style="background-color:<%= cycle('#EEE', '#FFF') -%>">
          <td align=left><%= user.last_name %>, <%= user.first_name %></td>
          <td align=left><%= get_local(user.current_sign_in_at) %></td>
          <td align=left><%= user.sign_in_count %></td>
        </tr>
      <% end %>
    </table>




  <% end %>
<% end %>
