<h1>Welcome to Gear Goat! <%= image_tag("goat.jpg", size: "80x80") %></h1>
<table width="100%">
  <tr>
    <td align=left>
      <h3>Get Started!</h3>
    </td>
  </tr>
    <tr>
    <td align=left>
      It's all about the Virtual Pack!
      <ol>
        <li>Create a <b><%= link_to "Virtual Pack", packs_path %></b> to contain and organize your gear throughout the duration of your event. 
        <li>Streamline the gear in your Virtual Pack to ensure the optimal weight/utlity ratio for your trip. 
        <li><b><%= link_to "Compare your gear", "#" %></b> across your companion's Virtual Packs to coordinate shared items and to identify complementary gear.
        <li>Finally, print a checklist of gear to ensure you pack everything. 
      </ol>
    </td>
  </tr>
  <tr>
    <td align=left>
      <h3>Featured Packs:</h3>
    </td>
  </tr>
</table>
<%= link_to "Demo", virtual_pack_path %><br><br>
<span class="label label-warning">Need to make this part of the page dynamic</span>

<table class=table>
  <tr>
    <th>Gear Goat community open postings</th>
    <th>Description</th>
    <th>Location</th>
  </tr>
  <tr style="background-color:<%= cycle('#EEE', '#FFF') -%>">
    <td align=left><li>Link to featured pack - author</td><td>Description of pack</td><td>Matterhorn</td>
  </tr>
  <tr style="background-color:<%= cycle('#EEE', '#FFF') -%>">
    <td align=left><li>Link to featured pack - author</td><td>Description of pack</td><td>Swiss Alps</td>
  </tr>
    <tr style="background-color:<%= cycle('#EEE', '#FFF') -%>">
    <td align=left><li>Link to featured pack - author</td><td>Description of pack</td><td>Southern Sierra Nevada</td>
  </tr>
    <tr style="background-color:<%= cycle('#EEE', '#FFF') -%>">
    <td align=left><li>Link to featured pack - author</td><td>Description of pack</td><td>Glen Aulin, Yosemite</td>
  </tr>
    <tr style="background-color:<%= cycle('#EEE', '#FFF') -%>">
    <td align=left><li>Link to featured pack - author</td><td>Description of pack</td><td>Sawtooth Mountains, ID</td>
  </tr>
    <tr style="background-color:<%= cycle('#EEE', '#FFF') -%>">
    <td align=left><li>Link to featured pack - author</td><td>Description of pack</td><td>Ocean kayaking</td>
  </tr>
</table>

