<table width="100%">
  <tr>
    <td valign=top align=left colspan=2>
      <h3>Get started with Gear Goat!</h3>
        <table class=table width="90%">
          <tr>
            <td width="12%" valign=top><%= image_tag("goat.jpg", size: "80x80") %></td>
            <td width="22%" valign=top><b><%= link_to "Inventory", gears_path %></b><br>How much gear do you really have? How much is it weighing you down? How old is it? Target new gear with wishlists.</td>
            <td width="22%" valign=top><b><%= link_to "Plan", packs_path %></b><br>Organize your gear in a Virtual Pack while you plan your trip. Streamline for optimal weight/utlity ratio.</td>
            <td width="22%" valign=top><b><%= link_to "Coordinate", "#" %></b><br>What's in your companion's Virtual Pack? Coordinate shared items and identify complementary gear.</td>
            <td width="22%" valign=top><b><%= link_to "Pack", "#" %></b><br>Finally, print a checklist of gear to ensure you pack everything. </td>
          </tr>
        </table>
    </td>
  </tr>
  <tr>
    <td align=left>
      <h3>Featured Packs:</h3>
    </td>
    <td align=right>
      <div class="fb-like" data-href="http://www.geargoat.net" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
    </td>
  </tr>
</table>

<table class=table>
  <tr>
    <th>Gear Goat community open postings</th>
    <th>Goater</th>
    <th>Summary</th>
  </tr>
<% @packs.each do |pack|%>
  <% if pack.name.to_s.length > 0 then %>
  <tr style="background-color:<%= cycle('#EEE', '#FFF') -%>">
    <td align=left><li><%= link_to pack.name, request.base_url + virtual_pack_path + "?vp=" + pack.id.to_s %></td>
    <td align=left><%= pack_user(pack.user_id) %></td>
    <td align=left><%= pack.summary %></td>
  </tr>
  <% end %>
<% end %>

</table>

