<!--<form action="/home" method="get">-->
<% form_tag home_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
<% end %>
<!--</form>-->

<div class="row" valign="center"> <%# style="border:solid" %>
  <div class="col-md-10" align=left><h2>Gear Goat, the essential backcountry trip planner!<%= image_tag("beta-stamp.png", size: "70x40") %></h2></div>
  <div class="col-md-2" align=right><div class="fb-like" data-href="http://www.geargoat.net" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div></div>
</div>
<br>
<div class="row">
  <div class="col-md-3">
    <div style='height:40px'><%= link_to "<button class='btn btn-primary' style='width:150px'>Manage inventory</button>".html_safe, gears_path %></div>
    <div>How much gear do you really have? How much is it weighing you down? How old is it?</div>
  </div>
  <div class="col-md-3">
    <div style='height:40px'><%= link_to "<button class='btn btn-primary' style='width:150px'>Pack Virtually</button>".html_safe, packs_path %></div>
    <div>Organize your gear in a Virtual Pack while you plan your trip. Streamline gear for optimal weight/utlity ratio.</div>
  </div>
  <div class="col-md-3">
    <div style='height:40px'><%= link_to "<button class='btn btn-primary' style='width:150px'>Coordinate</button>".html_safe, comparators_path %></div>
    <div>Coordinate shared items and identify complementary gear to reduce carried weight.</div>
  </div>
  <div class="col-md-3"><%#  style="height:80px;"%>
    <div style='height:40px'><%= link_to "<button class='btn btn-primary' style='width:150px'>Share</button>".html_safe, "#" %></div>
    <div>Ensure you pack everything. Share your successes. Show off your packing genius.<br></div>
  </div>
</div>
<%# this is lame, but if the events query is fixed, it can be removed %>
<% events_exist = false %>
<% if @events then %>
  <% @events.each do |event| %>
    <% if event.start_date.is_a?(Date) then %>
      <% if event.start_date > Time.now then %>
        <% events_exist = true %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<%# end lameness %>
<%# if @events then %>
<% if events_exist then %>
  <div>
    <h3>Your planned events:</h3>
    <table class=table>
      <tr>
        <td><b>Event</b></td>
        <td><b>Trip Length</b></td>
        <td><b>Dates</b></td>
      </tr>
      <% @events.each do |event| %>
        <% if event.start_date.is_a?(Date) then %>
          <% if event.start_date > Time.now then %>
              <tr style="background-color:<%= cycle('#EEE', '#FFF') -%>">
                <td align=left><%= link_to event.title, pack_item_path(event.id) %></td>
                <td align=left><%= trip_length(event.id) %> <% if trip_length(event.id) == 1 then %> night <% else %> nights <% end %></td>
                <td align=left><%= pack_event_range(event.start_date,event.return_date) %></td>
              </tr>
          <% end %>
        <% end %>
      <% end %>
    </table>
  </div>
<% end %>

<div>
<h3>Featured packs:</h3>
<table class=table>
  <tr>
    <th>Gear Goat community open postings</th>
    <th>Goater</th>
    <th>Trip Length</th>
    <th>Pack Weight</th>
  </tr>
  <% limit = 0 %>
  <% @packs.each do |pack| %>
    <% if limit < 8 then %>
      <% if pack.name.to_s.length > 0 then %>
        <tr style="background-color:<%= cycle('#EEE', '#FFF') -%>">
          <td align=left><li><%= link_to pack.name, request.base_url + virtual_pack_path + "?vp=" + pack.id.to_s %></td>
          <td align=left><%= pack_user(pack.user_id) %></td>
          <td align=left><%= trip_length(pack.event_id) %> <% if trip_length(pack.event_id) == 1 then %> night <% else %> nights <% end %></td>
          <td align=left><%= ounces_to_lbs(total_pack_weight_oz(pack.id)) %></td>
        </tr>
      <% end %>
    <% end %>
    <% limit += 1  %>
  <% end %>
</table>

<% if current_user then %> 
  <% if current_user.id == 1 then %>
    <h3>Recent Use:</h3>
    <table class=table>
      <tr>
        <th>Goater</th>
        <th>Last login</th>
        <th>Total sign-ins</th>
      </tr>
      <% @users.each do |user|%>
        <tr style="background-color:<%= cycle('#EEE', '#FFF') -%>">
          <td align=left><%= user.last_name %>, <%= user.first_name %></td>
          <td align=left><%= get_local(user.current_sign_in_at) %></td>
          <td align=left><%= user.sign_in_count %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
