<h3>Get started with Gear Goat! <%= image_tag("beta-stamp.png", size: "60x40") %></h3>


<form action="/home" method="get">
<%# form_tag home_path, :method => 'get' do %>
    <%#= text_field_tag :search, params[:search] %>
    <%#= submit_tag "Search", :name => nil %>
<form>
<%# end %>

<div class="row">
  <div class="col-md-2" align=middle><%= image_tag("goat.jpg", size: "100x100") %></div>
  <div class="col-md-2"><%= link_to "<button class='btn btn-primary'>Inventory your gear</button>".html_safe, gears_path %><br>How much gear do you really have? How much is it weighing you down? How old is it?</div>
  <div class="col-md-2"><%= link_to "<button class='btn btn-primary'>Plan your event</button>".html_safe, packs_path %><br>Organize your gear in a Virtual Pack while you plan your trip. Streamline for optimal weight/utlity ratio.</div>
  <div class="col-md-2"><%= link_to "<button class='btn btn-primary'>Coordinate packs</button>".html_safe, comparators_path %><br>What's in your companion's Virtual Pack? Coordinate shared items and identify complementary gear to reduce carried weight.</div>
  <div class="col-md-2"><%= link_to "<button class='btn btn-primary'>Share your work</button>".html_safe, "#" %><br>Ensure you pack everything. Share your successes. Warn others when gear fails. Show off your packing genius.</div>
  <div class="col-md-2"><div class="fb-like" data-href="http://www.geargoat.net" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div></div>
</div>
<h3>Featured Packs:</h3>
<table class=table>
  <tr>
    <th>Gear Goat community open postings</th>
    <th>Goater</th>
    <th>Trip Length</th>
    <th>Pack Weight</th>
    <th>OZ/Day</th>
    <th>Summary</th>
  </tr>
<% @packs.each do |pack|%>
  <% if pack.name.to_s.length > 0 then %>
    <tr style="background-color:<%= cycle('#EEE', '#FFF') -%>">
      <td align=left><li><%= link_to pack.name, request.base_url + virtual_pack_path + "?vp=" + pack.id.to_s %></td>
      <td align=left><%= pack_user(pack.user_id) %></td>
      <td align=left><%= trip_length(pack.event_id) %> <% if trip_length(pack.event_id) == 1 then %> day <% else %> days <% end %></td>
      <td align=left><%= ounces_to_lbs(total_pack_weight_oz(pack.id)) %></td>
      <td align=left><%= oz_day(pack.id) %></td>
      <td align=left><%= pack.summary %></td>
    </tr>
  <% end %>
<% end %>
</table>

