<%= form_for @event do |f| %>
  <div class="row">
    <div class="col-md-1"><%= f.label :title %></div>
    <div class="col-md-4"><%= f.text_field :title,  :size=>"50", :placeholder=>"Create a title for your event", :maxlength=>"254" %></div>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-md-1"><%= f.label :start_date  %></div>
    <div class="col-md-4"><%= f.date_field :start_date %>&nbsp;</div>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-md-1"><%= f.label :return_date %></div>
    <div class="col-md-4"><%= f.date_field :return_date %></div>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-md-1"><%= f.label :map_url %></div>
    <div class="col-md-4"><%= f.text_field :map_url %></div>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-md-1"><%= f.label :description %></div>
    <div class="col-md-4"><%= f.text_area :description, size: '60x4' %></div>
  </div>
  <div class="row">
    <div class="col-md-1"><%= f.label :comments %></div>
    <div class="col-md-4"><%= f.text_area :comments, size: '60x4' %></div>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-md-1"><%= f.label :sharing_status %></div>
    <div class="col-md-4"><%= f.select(:sharing_status, {"Private" => 1, "Public" => 2}) %></div>
  </div>
  <div class="row">&nbsp;</div>
  <div class="col-md-2">
    <%= f.hidden_field(:user_id, :value => current_user.id) %>
        <%= f.submit "Submit", :class => "btn btn-default" %>
        &nbsp;<%= link_to "Cancel".html_safe, :back %>
        <%#= link_to "<button class='btn btn-danger'>Cancel</button>".html_safe, :back %>
  </div>
<% end %>