<%= form_for @event do |f| %>
  <div class="row">
    <div class="col-md-2"><%= f.label :title %></div>
    <div class="col-md-4"><%= f.text_field :title %></div>
  </div>
  <div class="row">
    <div class="col-md-2"><%= f.label :start_date  %></div>
    <div class="col-md-4"><%= f.text_field :start_date, :class => 'datepicker' %>&nbsp;<span class="glyphicon glyphicon-calendar"></span></div>
  </div>
  <div class="row">
    <div class="col-md-2"><%= f.label :return_date %></div>
    <div class="col-md-4"><%= f.text_field :return_date, :class => 'datepicker' %>&nbsp;<span class="glyphicon glyphicon-calendar"></span></div>
  </div>
  <div class="row">
    <div class="col-md-2"><%= f.label :map_url %></div>
    <div class="col-md-4"><%= f.text_field :map_url %></div>
  </div>
  <div class="row">
    <div class="col-md-2"><%= f.label :description %></div>
    <div class="col-md-4"><%= f.text_area :description, size: '60x4' %></div>
  </div>
  <div class="row">
    <div class="col-md-2"><%= f.label :comments %></div>
    <div class="col-md-4"><%= f.text_area :comments, size: '60x4' %></div>
  </div>
  <div class="row">
    <div class="col-md-2"><%= f.label :sharing_status %></div>
    <div class="col-md-4"><%= f.select(:sharing_status, {"Private" => 1, "Public" => 2}) %></div>
  </div>
  <div class="col-md-2">
    <%= f.hidden_field(:user_id, :value => current_user.id) %>
    <%= f.submit %>
  </div>
<% end %>