<h3><%= image_tag("event_calendar.jpg", size: "40x40")%> My Event Calendar</h3>
<%= link_to "<button>Add Upcoming Event</button>".html_safe, new_event_path, :id=>"add-event-btn" %>
<br>
<br> <p class="label label-warning">Adding Events through Virtual Pack adds to Event calendar</p>
<br> <p class="label label-warning">Calendar grid view option?</p>


<table class=table>
  <thead>
  <th align=left></th>
	<th align=left>Title</th>
  <th align=left>Date Range</th>
	<th align=left>Description</th>
	<th align=left>Comments</th>
	<th align=left>Map</th>
  <th align=left>Sharing?</th>
</thead>
<% @events.each do |event| %>
  <tr style="background-color:<%= cycle('#EEE', '#FFF') -%>"> 
    <td width="5%"><%= link_to image_tag("x_mark_red.png",size: "12x12"), event, method: :delete, data: { confirm: 'Are you sure you want to delete this event? This action cannot be undone.' }  %></td>
  	<td width="20%" valign="top"><%= link_to event.title, edit_event_path(event.id) %></td>
    <td width="15%" valign="top"><%= event.start_date %> - <%= event.return_date %></td>
  	<td width="20%" valign="top"><%= event.description %></td>
  	<td width="20%" valign="top"><%= event.comments %></td>
    <td width="10%" valign="top"><%= event.map_url %></td>
    <td width="10%" valign="top"><%= if event.sharing_status == 1 then "Private" else "Public" end %></td>
  </tr>
<% end %>
</table>