<%= render "modals" %>

<table>
  <tr>
    <td><h3><%= image_tag("event_calendar.jpg", size: "40x40")%> My Event Calendar</h3></td>
    <td align=right>
      <%= link_to "<button class='btn btn-primary'>Add Upcoming Event</button>".html_safe, new_event_path, :id=>"add-event-btn" %>
      <% if current_user.id == 1 then %><button class="btn btn-warning" data-toggle="modal" data-target="#eventModal">Development tasks</button><% end %>
    </td>
  </tr>
</table>

<br>
<table class=table>
  <thead>
  <th align=left></th>
	<th align=left>Title</th>
  <th align=left>Date Range</th>
	<th align=left>Description</th>
	<th align=left>Map</th>
  <th align=left>Sharing?</th>
  <th align=left>Attendees</th>
</thead>
<% @events.each do |event| %>
  <tr style="background-color:<%= cycle('#EEE', '#FFF') -%>"> 

    <td width="5%"><% if event.user_id == current_user.id then %><%= link_to image_tag("x_mark_red.png",size: "12x12"), event, method: :delete, data: { confirm: 'Are you sure you want to delete this event? This action cannot be undone.' } %><% end %></td>

  	<td width="20%" valign="top"><%= link_to event.title, edit_event_path(event.id) %></td>
    <td width="15%" valign="top"><%= pack_event_range(event.start_date,event.return_date) %></td>
  	<td width="20%" valign="top"><%= event.description %></td>
    <td width="10%" valign="top">
      <% if event.map_url then %>
        <a href="javascript:window.open('<%= event.map_url %>')">Map</a>
      <% end %>
    </td>
    <td width="10%" valign="top"><%= if event.sharing_status == 1 then "Private" else "Public" end %></td>
    <td width="20%" valign="top">
      <ul>
        <% event.users.each do |friend| %>
          <li><%= friend.last_name %> </li>
        <% end %>
      </ul>
      <% if event.user_id == current_user.id then %>
        <%= link_to "Edit attendees", edit_event_attendee_path(event.id) %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>