<%= form_for @pack_item do |f| %>
  <div class="row">
    <div class="col-md-2"><%= f.label :category_id %></div>
    <div class="col-md-4"><%= f.collection_select(:category_id, Category.all, :id, :category_name,  {:selected => @category_id}, include_blank: 'Select a category') %></div>
  </div>
  <div class="row">
    <div class="col-md-2"><%= f.label :name %></div>
    <div class="col-md-4"><%= f.text_field :name,  autocomplete: 'on' %></div>
  </div>
  <div class="row">
    <div class="col-md-2"><%= f.label :description %></div>
    <div class="col-md-4"><%= f.text_area :description, size: '60x4',  autocomplete: 'on' %></div>
  </div>
  <div class="row">
    <div class="col-md-2"><%= f.label :weight_oz %></div>
    <div class="col-md-4"><%= f.text_field :weight_oz,  autocomplete: 'off' %></div>
  </div>
  <div class="row">
    <div class="col-md-2"><%= f.label :manufacturer %> (combo list later)</div>
    <div class="col-md-4"><%= f.text_field :manufacturer,  autocomplete: 'on' %></div>
  </div>
  <div class="row">
    <div class="col-md-2"><%= f.label :year_acquired %></div>
    <div class="col-md-4"><%= f.text_field :year_acquired %></div>
  </div>
  <div class="row">
    <div class="col-md-2"><%= f.label :wearing %></div>
    <div class="col-md-4"><%= f.check_box :wearing %></div>
  </div>
  <div class="row">
    <div class="col-md-2"><%= f.label :delivery %></div>
    <div class="col-md-4"><%= f.check_box :delivery %></div>
  </div>
  <div class="row">
    <div class="col-md-2"><%= f.label "How many of this item?" %></div>
    <div class="col-md-4"><%= f.text_field :item_count, :size => 10 %></div>
  </div>
  <% if 1 == 2 then %>
  <div class="row">
    <div class="col-md-2"><%= f.label :highlight %></div>
    <div class="col-md-4"><%= f.color_field :highlight %></div>
  </div>
<% end %>
  <div class="row">
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-4"><%= f.check_box :inventory %> Save as new gear item in inventory?</div>
  </div>
  <div class="col-md-2">
    <%= f.hidden_field(:gear_id) %>
    <%= f.hidden_field(:user_id, :value => current_user.id) %>
    <%= f.hidden_field(:event_id, :value => session[:current_event_id]) %>
            <%= f.submit "Submit", :class => "btn btn-default" %>
            &nbsp;<%= link_to "<button class='btn btn-danger'>Cancel</button>".html_safe, :back %>
  </div>
<% end %>