<%= form_for @pack_item do |f| %>
<br>
  <div class="row">
    <div class="col-md-2"><%= f.label :category_id %></div>
    <div class="col-md-4"><%= f.collection_select(:category_id, Category.all.order(item_order: :asc), :id, :category_name,  {:selected => @category_id}, include_blank: 'Select a category') %></div>
  </div>
<br>
  <div class="row">
    <div class="col-md-2"><%= f.label :name %></div>
    <div class="col-md-4"><%= f.text_field :name,  autocomplete: 'on' %></div>
  </div>
<br>
  <div class="row">
    <div class="col-md-2"><%= f.label :description %></div>
    <div class="col-md-4"><%= f.text_area :description, size: '60x4',  autocomplete: 'on' %></div>
  </div>
<br>
  <div class="row">
    <div class="col-md-2"><%= f.label :weight_oz %></div>
    <div class="col-md-4"><%= f.text_field :weight_oz,  autocomplete: 'off' %></div>
  </div>
<br>
  <div class="row">
    <div class="col-md-2"><%= f.label :manufacturer %></div>
    <div class="col-md-4"><%= f.text_field :manufacturer,  autocomplete: 'on' %></div>
  </div>
<br>
  <div class="row">
    <div class="col-md-2"><%= f.label :year_acquired %></div>
    <div class="col-md-4"><%= f.text_field :year_acquired %></div>
  </div>
<br>
<!--  <div class="row">
    <div class="col-md-2"><%#= f.label "How many of this item?" %></div>
    <div class="col-md-4"><%#= f.text_field :item_count, :size => 10 %></div>
  </div>
-->  
<!-- TURN THESE INTO LIVE LINKS ON THE LIST PAGE -->
  <div class="row">
    <div class="col-md-2"><b>Flag</b></div>
    <div class="col-md-4"><%= f.select(:highlight, {" - None - " => "", "Red" => "flag-red-filled.png", "Orange" => "flag-orange-filled.png", "Green" => "flag-green-filled.png", "Light Blue" => "flag-light-blue-filled.png", "Blue" => "flag-blue-filled.png", "Pink" => "flag-pink-filled.png", "Black" => "flag-black-filled.png", "Black" => "flag-black-filled.png"})%></div>
  </div>
<!-- TURN THIS INTO A CHECKBOX -->
<br>
  <div class="row">
    <div class="col-md-2"><%= f.label :sharing_status %></div>
    <div class="col-md-4"><%= f.select(:sharing_status, {"Private" => 1, "Public" => 2}) %></div>
  </div>
<br>
  <div class="row">
    <div class="lightbox">
      <a onclick="toggle_check('pack_item_wearing')">
        <div class="col-md-1" align="right"><%= f.check_box :wearing %></div>
        <div class="col-md-3">This item will be worn, and will not count for pack weight total</div>
      </a>
    </div>
    <div class="lightbox">
      <a onclick="toggle_check('pack_item_delivery')">
        <div class="col-md-1" align="right"><%= f.check_box :delivery %></div>
        <div class="col-md-3">Item will be delivered, or left behind, or otherwise should not count for pack weight total</div>
      </a>
    </div>
    <div class="lightbox">
      <a onclick="toggle_check('pack_item_inventory')">
        <div class="col-md-1" align="right"><%= f.check_box :inventory %></div>
        <div class="col-md-3">Save item in inventory?</div>
      </a>
    </div>
  </div>
<br>
  <div class="col-md-2">
    <%= f.hidden_field(:gear_id) %>
    <%= f.hidden_field(:user_id, :value => current_user.id) %>
    <%= f.hidden_field(:event_id, :value => session[:current_event_id]) %>
    <%= f.submit "Submit", :class => "btn btn-primary" %>&nbsp;
    <%= link_to "Cancel".html_safe, :back %>
  </div>
<% end %>