<!--    <div class="col-md-12">
      <%= form_tag("/search", method: "get") do %>
        <%= label_tag(:q, "Search for (inactive):") %>
        <%= text_field_tag(:q) %>
        <%= submit_tag("Search") %>
      <% end %>
    </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-3">
    </div>
  </div>
-->

<h3>Gear Inventory</h3>
<%= link_to "<button>Add Gear to Inventory</button>".html_safe, new_gear_path, :id=>"add-gear-btn" %>


<table class=ex1 width="100%">
	<th align=left>Name</th>
  <th align=left>Manufacturer</th>
	<th align=left>Description</th>
	<th align=left>Weight&nbsp;(oz)</th>
  <th align=left>Year&nbsp;Acquired</th>
<% @gears.each do |gear| %>
  <tr onclick="window.location = '<%= edit_gear_path(gear) %>'">
  	<td width="30%"><%= link_to gear.name, edit_gear_path(gear) %></td>
    <td width="20%"><%= gear.manufacturer %></td>
  	<td width="30%"><%= gear.description %></td>
  	<td width="10%"><%= gear.weight_oz %></td>
    <td width="10%"><%= gear.year_acquired %></td>
  </tr>
<% end %>
</table>