
<h3><%= image_tag("gears.png", size: "40x40")%> My Gear Inventory</h3>
<%= link_to "<button>Add Gear to Inventory</button>".html_safe, new_gear_path, :id=>"add-gear-btn" %>

<br>
<br> <p class="label label-warning">Adding items through Virtual Pack adds to Gear Inventory (need to manage duplicates well) - option to bulk add to inventory?</p>
<br> <p class="label label-warning">sort/filter by category (as on POC) or by column?</p>
<br> <p class="label label-warning">Gear import module (flat file first)</p>
<br> <p class="label label-warning">gear import from other system (REI, Backcountry, Amazon, Google?) - need standard format, or just compatibility?</p>
<br> <p class="label label-warning">inventory export? look at REDCap for approach and usability</p>
<br> <p class="label label-warning">search for existing gear items?</p>

<table class=table>
  <thead>
	<th align=left></th>
  <th align=left>Name</th>
  <th align=left>Manufacturer</th>
	<th align=left>Description</th>
	<th align=left>Weight&nbsp;(oz)</th>
  <th align=left>Year&nbsp;Acquired</th>
  </thead>
<% @gears.each do |gear| %>
  <tr style="background-color:<%= cycle('#EEE', '#FFF') -%>">
    <td width="5%"><%= link_to image_tag("x_mark_red.png",size: "12x12"), gear, method: :delete, data: { confirm: 'Are you sure you want to delete this item? This action cannot be undone.' }  %></td>
  	<td width="25%"><%= link_to gear.name, edit_gear_path(gear) %></td>
    <td width="20%"><%= gear.manufacturer %></td>
  	<td width="30%"><%= gear.description %></td>
  	<td width="10%"><%= gear.weight_oz %></td>
    <td width="10%"><%= gear.year_acquired %></td>
  </tr>
<% end %>
</table>