<%= form_for @pack do |f| %>
  <div class="row">
    <div class="col-md-2"><%= f.label :name %></div>
    <div class="col-md-4"><%= f.text_field :name %></div>
  </div>
   <div class="row">
    <div class="col-md-2"><%= f.label "Event" %></div>
    <div class="col-md-4"><%= f.collection_select(:event_id, Event.where("user_id" => current_user.id), :id, :title_dates, include_blank: 'Select an event') %></div>
  </div>
  <div class="row">
    <div class="col-md-2"><%= f.label :summary %></div>
    <div class="col-md-4"><%= f.text_area :summary, size: '60x4' %></div>
  </div>
  <div class="row">
    <div class="col-md-2"><%= f.label :target_weight %></div>
    <div class="col-md-4"><%= f.text_field :target_weight, :size=>"10" %> lbs</div>
  </div>
  <div class="col-md-2">
    <%= f.hidden_field(:user_id, :value => current_user.id) %>
        <%= f.submit "Add Pack", :class => "btn btn-default" %>&nbsp;
        <%= link_to "Cancel".html_safe, :back %>

        <%#= link_to "<button class='btn btn-danger'>Cancel</button>".html_safe, :back %>
  </div>
<% end %>