<%= form_for @pack do |f| %>
  <div class="row">
    <div class="col-md-2">Name this pack:</div>
    <div class="col-md-4"><%= f.text_field :name %></div>
  </div>
<!--
   <div class="row">
    <div class="col-md-2"><%#= f.label "Event" %></div>
    <div class="col-md-4"><%#= f.collection_select(:event_id, Event.where("user_id" => current_user.id), :id, :title_dates, include_blank: 'Select an event') %></div>
  </div>
-->
  <div class="row">
    <div class="col-md-2">How would you summarize this pack?</div>
    <div class="col-md-4"><%= f.text_area :summary, size: '60x4' %></div>
  </div>
  <div class="row">
    <div class="col-md-2">What is your "target" carrying pack weight for this trip?</div>
    <div class="col-md-4"><%= f.text_field :target_weight, :size=>"10" %> lbs</div>
  </div>
  <div class="col-md-2">
    <%= f.hidden_field(:user_id, :value => current_user.id) %>
    <%= f.hidden_field(:event_id, :value => session[:current_event_id]) %>
        <%= f.submit "Add details to pack", :class => "btn btn-default" %>&nbsp;
        <%= link_to "Cancel", :back %>
  </div>
<% end %>