<h3><%= image_tag("backpack1.png", size: "40x40")%> My Pack Inventory</h3>
<p>Packs organize your gear into structured units for portability. The intended use determines the type of pack you design. For instance, a pack designed for backcountry travel is typically oriented toward carrying many items with as little added weight as possible, while car travel has fewer weight considerations. Packs intended for air travel should conform to airline carry-on size and baggage check weight limitations to avoid additional fees. Let Gear Goat help you plan your travel appropriately.</p>
<p><%= link_to "<button>Add Pack to Inventory</button>".html_safe, new_pack_path, :id=>"add-pack-btn" %></p>

<table class=table>
  <thead>
	<th align=left></th>
  <th align=left>Name</th>
  <th align=left>Event</th>
  <th align=left>Summary</th>
  </thead>
<% @packs.each do |pack| %>
  <tr style="background-color:<%= cycle('#EEE', '#FFF') -%>">
    <td width="10%">
      <%= link_to image_tag("x_mark_red.png",size: "12x12"), pack, method: :delete, data: { confirm: 'Are you sure you want to delete this item? This action cannot be undone.' }  %>
      &nbsp;<%= link_to image_tag("edit_icon.png",size: "14x14"), edit_pack_path(pack) %>
    </td>
  	<td width="30%"><%= link_to pack.name, pack_path(pack) %></td>
    <td width="30%"><%= pack_event_title(pack.event_id) %></td>
    <td width="30%"><%= pack.summary %></td>
  </tr>
<% end %>
</table>