<%= render "modals" %>

<table>
  <tr>
    <td><h1><%= @event.title %></h1> </td>
    <td align=right>
      <button class="btn btn-primary" onclick="javascript:alert('Choose Facebook/Twitter/Gear Goat (or enter emails) to share with friends/accomplices.')">Share Pack</button>
      <button class="btn btn-primary" onclick="javascript:alert('Choose Gear Goat friends/events to compare packs (including self/previous packs)')">Compare</button>
      <button class="btn btn-primary" onclick="javascript:alert('Print picklist')">Print Picklist</button>
    </td>
  </tr>
</table>
<button class="btn btn-warning" data-toggle="modal" data-target="#packItem">Item Details</button>

<table>
  <tr>
    <td><h3>Event information</h3></td>
    <td align=right><button class="btn btn-default" data-toggle="modal" data-target="#packEvent">Event Details</button>
      <%= link_to "<button class='btn btn-default'>Edit</button>".html_safe, edit_event_path(@event.id) %></td>
  </tr>
</table>
<table class=table>
  <tr>
    <td align=left>Date range</td>
    <td width="30%"><%= pack_event_range %></td>
  </tr>
</table>
<br> <p class="label label-warning">Bootstrap ajax modal</p>
<br> <p class="label label-warning">Add target_weight as a bootstrap ajax modal</p>
<br> <p class="label label-warning">Sub-component "pack" as a container</p>
<br> <p class="label label-warning">Add items from another pack</p>
<br> <p class="label label-warning">Create a food grid</p>
<br> <p class="label label-warning">Share pack</p>
<br> <p class="label label-warning">Compare packs</p>
<br> <p class="label label-warning">Invite others to event (@ event?)</p>
<br> <p class="label label-warning">Print picklist</p>

<table>
  <tr>
    <td><h3>Pack details</h3></td>
    <td align=right><%#= link_to "Edit", edit_pack_path(@pack) %></td>
  </tr>
</table>

<table class=table>
  <thead>
  <th align=left>Total pack weight</th>
  <th align=left>Target pack weight</th>
  <th align=left>Total worn weight</th>
  <th align=left>Total delivery weight</th>
  </thead>
  <tr>
    <td width="25%"><span style="color:red;font-weight:bold"><%= total_pack_weight %></span></td>
    <td width="25%"><%= target_weight %></td>
    <td width="25%"><%= total_wearing_weight %></td>
    <td width="25%"><%= total_delivery_weight %></td>
  </tr>
</table>

<h3>Pack contents</h3>
<%= render "items" %>
