<!DOCTYPE html>
<html>
<head>
  <title>JobBoard</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Message Board</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><%= link_to "Home", jobs_path %></li>
    </ul>
    <p class="navbar-text pull-right">logged_in_user@email.com | <%= link_to "Log Out", destroy_user_session_path, :method => :delete %></p>
  </div>
</div>

<header class='clearfix'>
  <div class="left-nav">
    <ul>
      <li><%= link_to "Home", jobs_path %></li>
      <div id="logout_link">
        <% if signed_in? %>
          <li><%#= logged_in_user_email %></li>
          <%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
        <% end %>
      </div>
    </ul>
  </div>
  <div class="right-nav">
    <ul>
      <li><%= link_to "Add Job", new_job_path %></li>
    </ul>
  </div>
</header>

<div class='content'>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</div>

</body>
</html>

