<!DOCTYPE html>
<html>
<head>
  <title>Gear Goat</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">Gear Goat</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="<%= if current_page?(:controller => 'gears') then "active" else "inactive" end %>"><%= link_to "Inventory", gears_path %></li>
    </ul>
    <ul class="nav navbar-nav">
      <li class="<%= if current_page?(:controller => 'events') then "active" else "inactive" end %>"><%= link_to "Events", events_path %></li>
    </ul>
    <ul class="nav navbar-nav">
      <li class="<%= if current_page?(:controller => 'packs') then "active" else "inactive" end %>"><%= link_to "Packs", packs_path %></li>
    </ul>
    <ul class="nav navbar-nav">
      <li class="<%= if current_page?(:controller => 'jobs') then "active" else "inactive" end %>"><%= link_to "Virtual Pack", "#" %></li>
    </ul>

    <% if user_signed_in? %>
      <p class="navbar-text pull-right">
<!--
        <%= form_tag("/search", method: "get") do%>
        <%= text_field_tag(:q) %>
        <%= submit_tag("Search") %>
        <% end %> | 
-->

        <%= current_user.email %> | <%= link_to "Account", edit_user_registration_path %> | <%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
      </p>
    <%else%>
      <p class="navbar-text pull-right"> <%= link_to "Log In", user_session_path %></p>
    <%end%>

  </div>
</div>

<div class='content'>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>
</div>

</body>
</html>

